 body {
    font-family: Tahoma;
  }
  
  /* color for all paragraphs */
  p {	color: #808080; }
  
  .primary { color: black; }
  
  /* Spacehips div p.primary specificity test */
  #main .spaceships .primary { color: darkkhaki; }
  
  /* Are IDs or Classes more specific? */
  #pink { color: #FF1493; }